@import "tailwindcss";
@layer components {
@import "../styles/static-pages.css";
@import "../styles/contact-us.css";
@import "../styles/hero.css";
@import "../styles/highlights.css";
@import "../styles/winners.css";
@import "../styles/howtoplay.css";
@import "../styles/dashboard.css";
@import "../styles/addcash.css";
@import "../styles/login.css";
@import "../styles/register.css";
@import "../styles/my-wallet.css";
    @import "../styles/my-coupons.css";
    @import "../styles/redeem-coupon.css";
}